.app-market-charts {
    display: flex;
}

.app-market-charts--empty {
    text-align: center;
    padding: 16px;
}
.app-market-charts-list--empty {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.app-market-charts-list--col{
    padding: 8px;
}

.app-market-charts-list--empty > h4 {
    color: #bdbdbd;
}