.app-market-search {
    flex-direction: column;
    display: flex;
    padding: 8px;
    flex: 0 0 230px;
}

.app-market-search--result {
    flex-grow: 1;
    overflow: auto;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1024px) {
    .app-market-search {
        width: 100%;
    }
}