.app--sidebar {
    flex-direction: column;
    text-align: center;
    display: flex;
    margin: 1.5em 1em 0 0.5em;
    max-width: fit-content;
}

.app--sidebar-categories{
    margin-top: 2em;
    flex-direction: column;
    display: flex;
    overflow: auto;
}

.app--sidebar-button{
    margin-top: 1em;
}